/* 헤더 */
.base .headerbar {
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #e5e7eb;
    padding: 12px;
}

.base .leftbar {
    display: flex;
    align-items: center;
    height: 100%;
    flex: 1;
    width: 0;
}

.base .leftbar>div {
    flex: 1;
    width: 0;
    display: flex;
}

.leftbar .menutoggle {
    border: 1px solid black;
    display: flex;
    width: 26px;
    height: 26px;
    margin-left: 10px;
    align-items: center;
    justify-content: center;
}

.leftbar .sitename {
    margin-left: 10px;
    color: #15181E;
    font-size: 18px;
    font-weight: 700;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 100%;
}

.headerbar-right>.header-nav>li {
    margin-left: 8px;
}

@media (max-width: 992px) {
    /*header-nav의 자식요소*/
    .headerbar-right>.headernav:last-child {
        margin-right: 15px;
    }
}

.header-nav>li:first-child {
    margin-left: 4px;
}

.header-nav>li>a {
    position: relative;
    display: block;
}

.rightbar .clay-button {
    margin-right: 15px;
    padding: 8px 12px;
    border-radius: 8px;
    color: #fff;
    background-color: #15181E;
    font-size: 14px;
    line-height: 24px;
    white-space: nowrap;
}

.clay-button:hover {
    background-color: #24282f;
    color: #fff;
}

.clay-button:active {
    background-color: #4b515b;
}

.clay-button:focus {
    border: none;
    color: #fff;
}

/* 컨텐츠 */
.adminCal #content{
    position: relative;
    width: 100%;
    left: 0;
    padding-top: 50px;
}

@media (max-width: 992px) {
    .adminCal #content{
        padding-top: 50px;
    }
}

#content .alert__wrap {
    text-align: center;
    padding-left: 24px;
    padding-right: 24px;
    display: grid;
    row-gap: 5px;
}

@media (max-width: 991px) {
    #content .alert__wrap {
        padding: 0 15px;
    }
}

#content section {
    position: relative;
    padding: 24px;
}

@media (max-width: 768px) {
    #content section {
        padding: 12px 15px;
    }
}

.alert__wrap + section {
    padding-top: 0;
}

#content .section-body:first-child {
    margin-top: 24px;
}

@media (max-width: 768px) {
    #content .section-body:first-child {
        margin-top: 16px;
    }
}

#section-body .row{
    margin-right: -15px;
    margin-left: -15px;
}

.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-top: 4px solid 9;
}

.dropdown-menu {
    border: none;
    border-radius: 8px;
    max-height: 50vh;
    overflow-y: auto;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}


.dropdown-menu > li:first-child > a, 
.dropdown-menu .select_group > li:first-child > a {
    margin-top: 8px;
}

.dropdown-menu > li > a {
    display: block;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333333;
    white-space: nowrap;
    padding: 8px 12px;
    margin: 0 8px;
    border-radius: 8px;
    font-size: 13px;
}

.form-control-datepicker {
    position: relative;
    display: inline-block;
}

.form-control-datepicker .form-control {
    display: inline-block;
    padding-right: 25px;
    width: 130px;
}

.form-control, 
.phonenumber_wrap 
.chosen-container-single .chosen-single{
    padding: 0;
    height: 29px;
    line-height: 29px;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom-color: rgba(12, 12, 12, 0.12);
    background: transparent;
    color: #0c0c0c;
    font-size: 14px;
    box-shadow: none;
    border-radius: 0;
}

.form-control-datepicker > i {
    position: absolute;
    right: 2px;
    top: 7px;
    pointer-events: none;
}

#dateRangeRangeWrap span{
    padding: 0px 8px;
}

#filterWrap {
    position: relative;
}

.btn {
     display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    line-height: 1.42857143;
    border-radius: 4px;
    font-size: 13px;
    padding: 4px 20px;
    word-break: break-word;
    word-wrap: break-word;
    white-space: normal;
}

.btn-default-bright {
    color: #313534;
    background-color: #ffffff;
    border-color: #e5e6e6;
}

#filterTypeWrap .col-sm-12{
    padding-top: 15px;
    padding-bottom: 15px;
    width: 400px;
}

.form-group {
    position: relative;
    margin-bottom: 20px;
}

.form-group > label, 
.form-group .control-label {
    font-size: 13px;
    color: #757575;
}

.select-chosen{
    display: none;
}

.chosen-container .chosen-container-multi {
    padding: 8px 0 0;
    width: 100%;
}

.chosen-container-multi .chosen-choices {
    border: 0;
    padding: 0;
    background: none;
    cursor: pointer;
}

.chosen-container-multi .chosen-choices 
li.search-field input[type="text"] {
    padding: 0 0 3px 0;
    width: 77px;
}

.chosen-container .chosen-drop {
    border: 1px solid #D7D7D7;
    border-radius: 5px;
    padding: 6px 0;
    background: #fff;
}

.form-group {
    position: relative;
    margin-bottom: 20px;
}

.form-group > label, 
.form-group .control-label {
    font-size: 13px;
    color: #757575;
}

.radio-inline:not(:last-child), 
.checkbox-inline:not(:last-child) {
    position: relative;
    margin-top: 0;
    margin-right: 18px;
}

.radio label, .checkbox label {
    min-height: 20px;
    padding-left: 20px;
    margin-bottom: 0;
    font-weight: 400;
    cursor: pointer;
}

input[type="radio"], 
input[type="checkbox"] {
    margin: 4px 0 0;
    margin-top: 1px;
    line-height: normal;
}

.checkbox-styled input[type="radio"],
.radio-styled input[type="radio"], 
.checkbox-styled input[type="checkbox"], 
.radio-styled input[type="checkbox"] {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.checkbox-styled input ~ span, 
.radio-styled input ~ span {
    position: relative;
    padding-left: 1.85em;
    display: inline-block;
    cursor: pointer;
    vertical-align: text-top;
}

.form-group label span {
    margin-bottom: 8px;
}

.checkbox-styled .radio-inline, 
.radio-styled .radio-inline, 
.checkbox-styled .checkbox-inline, 
.radio-styled .checkbox-inline {
    padding-left: 0;
}

.radio-inline:not(:last-child), 
.checkbox-inline:not(:last-child) {
    /* radio-inline의 자식 개체를 제외하고 */
    margin-right: 18px;
}

.checkbox-styled label, 
.radio-styled label {
    padding-left: 0;
}

.radio label, .checkbox label {
    min-height: 20px;
    padding-left: 20px;
    margin-bottom: 0;
    font-weight: 400;
    cursor: pointer;
}

.checkbox-styled input[type="radio"], 
.radio-styled input[type="radio"], 
.checkbox-styled input[type="checkbox"], 
.radio-styled input[type="checkbox"] {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.radio input[type="radio"], 
.radio-inline input[type="radio"], 
.checkbox input[type="checkbox"], 
.checkbox-inline input[type="checkbox"] {
    margin-top: 4px;
    margin-left: -20px;
}

.text-right {
    text-align: right;
}

.btn-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}

#statsTableWrap {
    padding: 0;
}

.table-responsive {
    min-height: 0.01%;
    overflow-x: auto;
}

@media screen and (max-width: 767px) {
    .table-responsive {
        border: 0;
        margin: 0;
        width: 100%;
        overflow-y: hidden;
    }
}

@media screen and (max-width: 767px) {
    .table-responsive > .table {
        margin-bottom: 0;
    }
}

#table {
    margin: 0;
}

.card-body .table-responsive table > tbody > tr > td:first-child, 
.card-body .table-responsive table > thead > tr > th:first-child, 
.table > thead > tr > th:first-child, .table > tbody > tr > td:first-child, 
.table > tbody > tr > th:first-child, 
.table > tfoot > tr > td:first-child {
    padding-left: 24px;
}

.table>caption+thead>tr:first-child>td, 
.table>caption+thead>tr:first-child>th, 
.table>colgroup+thead>tr:first-child>td, 
.table>colgroup+thead>tr:first-child>th, 
.table>thead:first-child>tr:first-child>td, 
.table>thead:first-child>tr:first-child>th {
    border-top: 0;
}

.table-responsive > .table > thead > tr > th, 
.table-responsive > .table > tbody > tr > th, 
.table-responsive > .table > tfoot > tr > th, 
.table-responsive > .table > thead > tr > td, 
.table-responsive > .table > tbody > tr > td, 
.table-responsive > .table > tfoot > tr > td {
    vertical-align: middle;
}

@media screen and (max-width: 767px) {
    .table-responsive>.table>tbody>tr>td, 
    .table-responsive>.table>tbody>tr>th, 
    .table-responsive>.table>tfoot>tr>td, 
    .table-responsive>.table>tfoot>tr>th, 
    .table-responsive>.table>thead>tr>td, 
    .table-responsive>.table>thead>tr>th {
        /* 줄바꿈 없음 */
        white-space: nowrap;
    }
}

@media (max-width: 560px) {
    .card-body .table-responsive .table > tbody > tr > td:last-child, 
    .table > thead > tr > th:last-child, .table > tfoot > tr > td:last-child {
        padding-right: 16px;
    }
}

.card-body .table-responsive .table > tbody > tr:last-child > td, 
.card-body .table-responsive .table > tbody > tr:last-child > th, 
.table .table-lastborder > tbody > tr:last-child > td {
    border-bottom: 1px solid rgba(193, 193, 193, 0.31);
}

.card-body .table-responsive .table > tbody > tr > td:last-child, 
.table > thead > tr > th:last-child, 
.table > tbody > tr > td:last-child, 
.table > tbody > tr > th:last-child, 
.shop-table table > tbody > tr:last-child td, 
.table > tfoot > tr > td:last-child {
    padding-right: 24px;
}

.th-top01{
    opacity: 0.5;
    width: 160px;
}

.th-top02{
    opacity: 0.5;
    width: 160px;
    text-align: right;
}

.text-center {
    text-align: center;
}

ol.description-list, ul.description-list {
    margin: 12px 0;
}

.description-list li {
    margin-bottom: 6px;
}

.text-danger {
    color: #fb4637;
}

.nav-stacked {
    border-bottom: none;
}

.nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.nav > li {
    position: relative;
    display: block;
}

.nav-pills > li {
    float: left;
}

.nav-stacked > li {
    margin-bottom: 0;
    float: none;
}

.nav-pills > li {
    float: left;
}

.nav-stacked > li > a {
    margin-right: 0;
}

.nav-pills > li > a {
    border-radius: 4px;
}

.nav > li > a {
    position: relative;
    display: block;
    padding: 10px 15px;
}

.text-primary {
    color: #1A6DFF !important;
}

.category-body .dropdown-handle.active, 
.nav-category .dropdown-handle.active {
    color: #fff;
    background: #1A6DFF;
}

.nav-category .dd-handle {
    padding-left: 0;
}

.dropdown-handle {
    display: block;
    text-decoration: none;
    height: 30px;
    line-height: 31px;
    padding-left: 26px;
    font-size: 14px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.nav #prod_list_category_ > a {
    display: block;
    padding-left: 24px;
}

.holder {
    position: relative;
}

.nav-category .dd-handle span {
    padding-left: 25px;
}

.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: transparent;
}

.hover:hover {
    background-color: #f1f1f1;
}

.nav-tabs {
    border-bottom: 1px solid #ddd;
}

.nav-tabs > li {
    float: left;
    margin-bottom: -1px;
}

.owl-carousel {
    display: none;
    width: 100%;
    position: relative;
    z-index: 1;
}

.owl_dashboard .owl-stage {
    width: 100%;
}

.owl-carousel .owl-stage-outer {
    position: relative;
    overflow: hidden;
}

@media (max-width: 992px) {
    .owl_dashboard .owl-stage {
        width: 1000px;
    }
}

.owl_dashboard .owl-item {
    display: inline-block;
}

.owl-carousel .owl-item {
    position: relative;
    min-height: 1px;
    float: left;
}

.owl-nav-tabs {
    list-style: none;
    list-style-position: initial;
    list-style-image: initial;
    list-style-type: none;
    padding-left: 0;
}

.owl-nav-tabs > li.active > a, 
.owl-nav-tabs > li.active > a:hover, 
.owl-nav-tabs > li.active > a:focus {
    border: none;
    border-bottom: 2px solid #1A6DFF;
    color: #1A6DFF;
    opacity: 1;
}

.owl-nav-tabs > li > a {
    padding: 0 15px 15px 15px;
    position: relative;
    display: block;
    text-align: center;
    font-size: 13px;
    transition: none;
}

.selectcontrol{
    text-align: right; 
    border: none;
    background-color: transparent;
    padding-right: 13px; 
    position: relative; 
    appearance: none;
}

.search_form .form_left {
    float: left;
    margin-right: 10px;
    width: calc(100% - 160px);
}

@media (max-width: 992px) {
    .search_form .form_left, 
    .search_form .form_right {
        float: none;
        width: 100%;
        max-width: 100%;
    }
}

.prod_category_list {
    padding-bottom: 24px;
}

.card:not(:last-child) {
    margin-bottom: 5px;
}

.nav> li > a {
    padding: 15px 24px 15px 26px;
}

.prod-search .twitter_wrap {
    margin: 0 24px;
}

.twitter-typeahead {
    width: 100%;
    display: block;
}

.on-click {
    position: relative;
}

.prod-search .twitter_wrap .form-control {
    height: 48px;
    line-height: 48px;
}

.on-click > a {
    display: block;
    cursor: pointer;
}

.prod-search .twitter_wrap .form-control {
    height: 48px;
    line-height: 48px;
}

.big_search .dd-filter-serach {
    height: 48px;
}

.dd-filter-serach {
    height: 30px;
    line-height: 30px;
    text-align: right;
}

.dd-filter-serach .icon_set {
    position: static;
    margin-bottom: 0;
    padding: 0 5px;
    cursor: pointer;
}

.big_search .dd-filter-serach {
    height: 48px;
    line-height: 48px;
}

.btl {
    font-weight: 200;
}

.search_form .form_right {
    float: left;
    max-width: 150px;
    width: 100%;
}

@media (max-width: 992px) {
    .search_form .form_left, 
    .search_form .form_right {
        float: none;
        width: 100%;
        max-width: 100%;
    }
}

.btn, .btn--toggle span, .btn--toggle {
    display: inline-block;
}

.prod-search .serach_wrap {
    position: absolute;
    top: 50%;
    right: 19px;
}

.card.card-top.no-tab .card-head header {
    padding: 28px 24px;
}

@media (max-width: 768px) {
    .card.card-top .card-head header {
        padding: 28px 16px 16px;
    }
}

.card-head .style-price-header {
    text-align: center;
    display: block;
    font-size: 36px;
    line-height: 1;
    margin-top: 14px;
}

@media (max-width: 768px) {
    .card .force-padding {
        padding: 16px;
    }
}

.card-head .style-price-header .sub-title {
    font-size: 20px;
    padding: 20px 0;
}

.text-gray-bright, a.text-gray-bright {
    color: #888;
}

.ink-reaction {
    position: relative;
    overflow: hidden;
}

.btn-primary {
    color: #ffffff;
    background-color: #1A6DFF;
    border-color: #1A6DFF;
}

.shop-table .table-responsive {
    overflow-x: inherit;
}

.shop-table .select-thead, 
.shop-table.check .subject {
    display: none;
}

.shop-table table > tbody > tr > td:first-child, 
.shop-table table > thead > tr > th:first-child {
    padding-left: 24px;
}

.shop-table table > thead > tr:first-child th {
    border-bottom: 1px solid #e5e6e6;
}

@media (max-width: 560px) {
    .card-body.no-padding .table > tbody > tr > td:first-child, 
    .table > thead > tr > th:first-child, 
    .table > tbody > tr > th:first-child, 
    .table > tfoot > tr > td:first-child {
        padding-left: 16px;
    }
}

.shop-table table > tbody > tr > td:first-child, 
.shop-table table > thead > tr > th:first-child {
    padding-left: 24px;
}

.shop-table .check {
    max-width: 35px;
}

.shop-table .no {
    max-width: 45px;
}

.shop-table .image {
    max-width: 65px;
}

.text-right {
    text-align: right;
}

.shop-table .check {
    max-width: 35px;
}

.shop-table .no {
    max-width: 45px;
}

.text-12 {
    font-size: 12px !important;
}

.shop-table table > tbody > tr > td.title {
    word-break: break-word;
}

.shop-table .state {
    width: 80px;
}

.shop-table .drag, 
.sortable_list .drag {
    position: absolute;
    left: 10px;
    opacity: 0;
}

.shop-table table > tbody > tr > td.r_date, 
.shop-table table > tbody > tr > td.e_date {
    max-width: 105px;
}

.shop-table .more {
    padding-right: 10px !important;
}

.drag {
    opacity: 0.33;
    background: url(_blank) no-repeat scroll 0 0 / 50% auto rgba(0, 0, 0, 0);
    width: 12px;
    height: 20px;
    z-index: 50;
    vertical-align: middle;
}

.checkbox-styled, .radio-styled {
    position: relative;
    margin-top: 0;
}

.no-margin {
    margin: 0 !important;
}

.inline-blocked {
    display: inline-block;
}

.shop-table .content .title span {
    display: block;
    padding: 0;
}

.btn-sm {
    font-size: 13px;
    padding: 7px 12px;
}

.btn-sm, .btn-group-sm > .btn {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

.shop-table table > tbody > tr:last-child td {
    padding-right: 8px;
}

#prod_list_body > tr > td{
    border: 0px solid;
}

.no-padding{
    padding: 0px;
}

.user-search .form-group {
    margin: 0;
}

.user-search .form-group .icon_set.left {
    left: 18px;
}

.user-search .form-group .icon_set {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
    z-index: 1;
}

.zmdi {
    display: inline-block;
}

.user-search .form-group .icon_set.right {
    right: 18px;
}

.user-search .form-group .icon_set.gray {
    color: #b4b4b4;
    font-size: 20px;
    top: 13px;
}

.user-search .form-group .icon_set {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
    z-index: 1;
}

.form-group > label, .form-group .control-label {
    font-size: 13px;
    color: #757575;
}

.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.form-control, .phonenumber_wrap .chosen-container-single .chosen-single {
    padding: 0;
    height: 29px;
    line-height: 29px;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom-color: rgba(12, 12, 12, 0.12);
    background: transparent;
    color: #0c0c0c;
    font-size: 14px;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0 !important;
}

.user-search .form-group .form-control {
    border: none;
    height: 48px;
    padding-left: 64px;
    padding-right: 50px;
    width: 100%;
}

@media (max-width: 768px) {
    .user-search .form-group .form-control {
        padding-left: 48px;
    }
}

.card-head header.small {
    font-size: 14px;
}

.card-head .tools {
    padding-right: 16px;
    float: right;
}

.list-comments {
    padding-left: 0;
    list-style: none;
}

.text-center {
    text-align: center;
}