<!DOCTYPE html>
<html lang="ko">

<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../../../resources/css/common_css/Style.css">
        <link rel="stylesheet" href="../../../resources/css/mainPage_css/CateButton.css">
</head>

<body class="catebutton">
        <div class="screen">
                <div class="grid">
                        <div class="icon">
                                <a href="_blank">
                                        <div class="img"><img class="imgsrc" src="_blank"/></div>
                                </a>
                                <div class="name">전체</div>
                        </div>

                        <div class="icon">
                                <a href="_blank">
                                        <div class="img"><img class="imgsrc" src="_blank"/></div>
                                </a>
                                <div class="name">문화 · 예술</div>
                        </div>

                        <div class="icon">
                                <a href="_blank">
                                        <div class="img"><img class="imgsrc" src="_blank"/></div>
                                </a>
                                <div class="name">액티비티</div>
                        </div>

                        <div class="icon">
                                <a href="_blank">
                                        <div class="img"><img class="imgsrc" src="_blank"/></div>
                                </a>
                                <div class="name">푸드 · 드링크</div>
                        </div>

                        <div class="icon">
                                <a href="_blank">
                                        <div class="img"><img class="imgsrc" src="_blank"/></div>
                                </a>
                                <div class="name">취미</div>
                        </div>

                        <div class="icon">
                                <a href="_blank">
                                        <div class="img"><img class="imgsrc" src="_blank"/></div>
                                </a>
                                <div class="name">여행 · 동행</div>
                        </div>

                        <div class="icon">
                                <a href="_blank">
                                        <div class="img"><img class="imgsrc" src="_blank"/></div>
                                </a>
                                <div class="name">자기계발</div>
                        </div>

                        <div class="icon">
                                <a href="_blank">
                                        <div class="img"><img class="imgsrc" src="_blank"/></div>
                                </a>
                                <div class="name">파티 · 게임</div>
                        </div>

                        <div class="icon">
                                <a href="_blank">
                                        <div class="img"><img class="imgsrc" src="_blank"/></div>
                                </a>
                                <div class="name">재테크</div>
                        </div>

                        <div class="icon">
                                <a href="_blank">
                                        <div class="img"><img class="imgsrc" src="_blank"/></div>
                                </a>
                                <div class="name">연애 · 사랑</div>
                        </div>
                </div>
        </div>
</body>

</html>