/*----------------------*/
#qna_list .list-comments>li {
    border-top: 1px solid #eee;
}

#qna_list .list-comments>li:first-child {
    border-top: 0;
}

#qna_filter_list_chosen .chosen-drop {
    display: none;
}

.qna-filter .dropdown-menu {
    min-width: 250px;
    max-height: fit-content;
    overflow: visible;
}

@media (max-width: 768px) {
    .qna-filter .dropdown-menu {
        max-height: 50vh;
        overflow-y: auto;
    }
}

.qna-list {
    line-height: 40px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
    position: relative;
}

.qna-filter .btn-default {
    border: 1px solid #ccc;
    padding: 9px 16px;
    color: #333;
    line-height: 34px;
    border-radius: 3px;
    background: #fff;
    margin-right: 5px;
}

.qna-filter .btn-primary {
    border: 1px solid #00b0f5;
    padding: 9px 16px;
    color: #fff;
    line-height: 34px;
    border-radius: 3px;
    display: inline-block;
}

.qna-list .form-control {
    background: transparent;
    border: none;
    padding: 0;
    height: 40px;
}

.qna-list .down-btn:after {
    display: inline-block;
    font: normal normal normal 14px/1 'Material-Design-Iconic-Font';
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: '\f2f2';
    position: absolute;
    right: -0px;
    top: 50%;
    margin-top: -11.5px;
    font-size: 23px;
    opacity: 0.5;
}

.qna-filter-btn {
    text-align: left;
    border: none;
}

.qna-filter-btn .caret {
    position: absolute;
    right: 15px;
    top: 50%;
    margin-top: -2px;
    opacity: 0.5;
}

.qna-list input {
    padding: 0;
    border: none;
    height: 40px;
}

.prod-excel-form .form-control {
    height: auto;
    display: inline-block;
    border: none;
    width: auto;
}

/*----------------------*/
/*----------------------*/
.custom-tooltip.in {
    opacity: 1;
}

.custom-tooltip.right {
    margin-left: 4px;
    padding: 0;
}

.custom-tooltip .tooltip-inner {
    padding: 6px 8px;
    border-radius: 8px;
    background-color: #15181E;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    box-shadow: 0 14px 32px 0 rgba(75, 81, 91, 0.12),
        0 10px 14px 0 rgba(75, 81, 91, 0.06),
        0 0 0 1px rgba(75, 81, 91, 0.03),
        0 0 1px 0 rgba(75, 81, 91, 0.20);
}

/*----------------------*/

/*----------------------*/

#analytics-tooltip button {
    padding: 4px 12px;
    line-height: 24px;
    font-size: 14px;
    border-radius: 6px;
    transition: 0.1s ease-out;
}

.tooltip-close-button {
    color: #717680;
    background-color: transparent;
}

.tooltip-close-button:hover {
    background-color: #f8f9fb;
}

.tooltip-close-button:active {
    background-color: #e2e5e9;
}

.tooltip-go-button {
    color: #FFFFFF;
    background-color: #1A6DFF;
}

.tooltip-go-button:hover {
    background-color: #70a2FF;
}

.tooltip-go-button:active {
    background-color: #99bdFF;
}

/*----------------------*/