/*----------------------*/
.alert__wrap+section {
    padding-top: 24px;
}

#daily .card {
    border: none;
    border-radius: 12px;
    box-shadow: none;
}

#daily .card .card-head {
    min-height: 0;
    line-height: 1;
    border-radius: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 24px;
    border-bottom: 1px solid #eee;
}

#daily .card .card-head header {
    padding: 0;
    line-height: 20px;
    color: #000;
}

#daily .card .card-head a {
    color: #4B515B;
    font-size: 12px;
    line-height: 16px;
    display: inline-block;
}

#daily .card .card-head a:hover {
    color: #24282F;
}

#daily .card .card-head::after,
#daily .card .card-head::before {
    display: none;
}

#daily ._row_ {
    display: flex;
    gap: 20px;
}

#daily ._col_ {
    flex: 1;
}

.no-data-card-body {
    padding: 16px 24px;
}

.no-data-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    height: 100%;
}

.no-data-container>img {
    width: 48px;
    height: 48px;
}

.no-data-container>p {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    color: #717680;
    margin: 0;
}

@media (max-width: 992px) {
    #base {
        padding-left: 0;
    }

    .top_header {
        left: 0;
    }

    .headerbar-left li.hidden-md {
        display: block;
    }

    .btn-icon-toggle {
        line-height: 44px;
    }

    .headerbar-left .header-nav {
        margin-left: 15px;
    }

    #daily ._row_ {
        flex-direction: column;
    }

    .alert__wrap+section {
        padding: 24px 15px;
    }

    #daily ._row_ {
        display: flex;
        gap: 0px;
    }

    .card {
        margin-bottom: 12px;
    }
}

/*----------------------*/

/*----------------------*/
.custom-tooltip.in {
    opacity: 1;
}

.custom-tooltip.right {
    margin-left: 4px;
    padding: 0;
}

.custom-tooltip .tooltip-inner {
    padding: 6px 8px;
    border-radius: 8px;
    background-color: #15181E;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    box-shadow: 0 14px 32px 0 rgba(75, 81, 91, 0.12),
        0 10px 14px 0 rgba(75, 81, 91, 0.06),
        0 0 0 1px rgba(75, 81, 91, 0.03),
        0 0 1px 0 rgba(75, 81, 91, 0.20);
}

/*----------------------*/
/*----------------------*/

#analytics-tooltip button {
    padding: 4px 12px;
    line-height: 24px;
    font-size: 14px;
    border-radius: 6px;
    transition: 0.1s ease-out;
}

.tooltip-close-button {
    color: #717680;
    background-color: transparent;
}

.tooltip-close-button:hover {
    background-color: #f8f9fb;
}

.tooltip-close-button:active {
    background-color: #e2e5e9;
}

.tooltip-go-button {
    color: #FFFFFF;
    background-color: #1A6DFF;
}

.tooltip-go-button:hover {
    background-color: #70a2FF;
}

.tooltip-go-button:active {
    background-color: #99bdFF;
}

/*----------------------*/