/*----------------------*/
#stock_no_option_wrap {
    display: none;
}

#prodStockWrap[data-optcount='0'][data-usestock='Y'] #stock_no_option_wrap {
    display: block;
}

#prod_option_wrap._not_use_stock ._stock_item {
    display: none;
}

#prod_option_wrap .require_wrap[data-mode]:not([data-mode='edit']) ._editor,
#prod_option_wrap .require_wrap[data-mode='edit'] ._default {
    display: none;
}

#prod_option_wrap .require_wrap[data-mode='edit'] thead {
    background: #fff;
    opacity: 1;
}

#prod_option_wrap ._option_value_wrap {
    position: relative;
    overflow: hidden;
}

#prod_option_wrap ._option_value_wrap label {
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom-color: rgba(12, 12, 12, 0.12);
    border-bottom-width: 1px;
    border-bottom-style: solid;
    cursor: text;
}

#prod_option_wrap ._option_value_list {
    padding-left: 0;
}

#prod_option_wrap ._option_value_list li {
    float: left;
    display: inline-block;
    font-weight: 500;
    position: relative;
    margin-bottom: 2px;
    margin-right: 4px;
}

#prod_option_wrap ._option_value_list li._input:first-child {
    width: 100%;
}

#prod_option_wrap ._option_value_list li._input:first-child ._placeholder::before {
    color: #8e8e8e;
    content: attr(data-placehoder);
    left: 0;
    top: 0;
    line-height: 24px;
    position: absolute;
}

#prod_option_wrap ._option_value_list li._input:first-child ._option_value:focus~._placeholder::before {
    display: none;
}

#prod_option_wrap ._option_value_list li._input:first-child input {
    width: 100%;
}

#prod_option_wrap ._option_value_list li._input {
    max-width: 100%;
    width: 25px;
}

#prod_option_wrap ._option_value_list li._input ._option_value {
    width: 100%;
    height: 24px;
    outline: 0;
    border-bottom: 0;
    box-shadow: none;
}

#prod_option_wrap ._option_value_list li.value-item {
    cursor: pointer;
    background: #E2E1DF;
    line-height: 1;
    padding: 0 20px 0 5px;
    position: relative;
    min-height: 24px;
}

#prod_option_wrap ._option_value_list li.value-item ._sort_handle {
    display: block;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    z-index: 100;
}

#prod_option_wrap ._option_value_list li.value-item[data-mode='edit'] ._sort_handle {
    display: none;
}

#prod_option_wrap ._option_value_list li.value-item ._value_name {
    display: inline-block;
    min-height: 18px;
    min-width: 12px;
    outline: 0;
    line-height: 24px;
}

#prod_option_wrap [data-type="input"] ._input_desc {
    display: none;
}

#prod_option_wrap [data-type="input"] ._over_length~._input_desc {
    display: inline-block;
}

#prod_option_wrap ._option_value_list ._btn_remove_value {
    font-size: 10px;
    position: absolute;
    right: 5px;
    top: calc(50% - 5px);
    z-index: 110;
}

#prod_option_wrap [data-type="color"] ._option_value_wrap .value-item {
    padding: 0 20px 0 24px;
}

#prod_option_wrap [data-type="color"] ._option_value_wrap ._color {
    display: block;
    width: 16px;
    height: 16px;
    position: absolute;
    top: calc(50% - 8px);
    left: 4px;
    z-index: 110;
}

#prod_option_wrap [data-type="color"] ._option_value_wrap ._color[data-color=""] {
    background-image: url(/images/site/transparent.png);
    background-position: 0 0, 5px 5px;
    background-size: 10px 10px;
}

#prod_option_wrap [data-type="color"] ._option_value_wrap ._color[data-color="image"] {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#prod_option_detail_require_wrap[data-is_max_length='N'] .max_length_wrap,
#prod_option_detail_optional_wrap[data-is_max_length='N'] .max_length_wrap {
    display: none;
}

#prod_option_detail_require_wrap[data-is_max_length='Y'] .table-responsive,
#prod_option_detail_optional_wrap[data-is_max_length='Y'] .table-responsive {
    display: none;
}

/*----------------------*/

/*----------------------*/

.dd {
    position: relative;
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
}

.dd-list {
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
}

.dd-list .dd-list {
    padding-left: 0px;
}

.dd-collapsed .dd-list {
    display: none;
}

.dd-item,
.dd-empty {
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
    min-height: 20px;
    line-height: 20px;
}

.dd-placeholder {
    display: block;
    position: relative;
    z-index: 9999;
    margin: 0;
    padding: 0;
    height: 3px;
    width: 100%;
    background: #ff0000;
}

.dd-placeholder .line {
    position: absolute;
    width: 100%;
    top: 0px;
    height: 3px;
    background: #6F6F73;
    z-index: 999;
}

.dd-handle {
    display: block;
    text-decoration: none;
    height: 30px;
    line-height: 31px;
    padding-left: 26px;
    font-size: 13px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    cursor: -moz-grab;
    cursor: -webkit-grab;
    cursor: grab;
}

.dd-handle:hover {
    background: #f2f3f5;
}

.dd-handle.disable {
    opacity: .3;
}

.dd-handle.disable:hover i {
    display: none;
}

.dd-handle.active.ico {
    color: #fff;
}

.dd-handle.ico:after {
    display: inline-block;
    font: normal normal normal 14px/1 "Black Tie";
    vertical-align: -14.28571429%;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
    font-size: 15px;
    padding-left: 5px;
    font-weight: 200;
    opacity: .7;
}

.dd-handle.ico.shopping:after {
    content: "\f03b";
}

.dd-handle.ico.link:after {
    content: "\f0b0";
}

.dd-handle.ico.lock:after {
    content: "\f039"
}

.draging .dd-handle:hover {
    background: #fff;
}

.dd-handle {
    position: relative;
}

.dd-dragel .dd-handle {
    position: relative;
}

.dd-dragel .dd-handle i {
    display: none
}

.dd-dragel .dd-handle {
    background: #f2f3f5;
}

.dd-handle.active {
    background: rgba(26, 109, 255, 0.1);
    color: #1A6DFF;
    font-weight: bold;
}

.clone-item .dd-handle {
    opacity: 0.5;
}

.dd-item>button {
    cursor: pointer;
    float: left;
    width: 20px;
    height: 26px;
    padding: 0;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    border: 0;
    background: transparent;
    line-height: 1;
    text-align: center;
    font-weight: bold;
    z-index: 50;
    left: 15px;
}

.dd-list .dd-list .dd-item>button {
    left: 25px;
}

.dd-list .dd-list .dd-list .dd-item>button {
    left: 35px;
}

.dd-list .dd-list .dd-handle {
    padding-left: 36px;
}

.dd-list .dd-list .dd-list .dd-handle {
    padding-left: 46px;
}

.dd-list .dd-list .dd-list .dd-list .dd-handle {
    padding-left: 56px;
}

.dd-item>button:before {
    content: '\f2f2';
    font-family: Material-Design-Iconic-Font;
    vertical-align: -14.28571429%;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);
    display: block;
    position: absolute;
    width: 100%;
    text-align: center;
    text-indent: 0;
    font-weight: normal;
    font-size: 16px;
    top: 7px;

}

.dd-item>button[data-action="collapse"]:before {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
}

.category-body .dropdown-item>button:before {
    color: #333;
}

.dd-empty {
    padding: 0;
    min-height: 26px;
    background: #f9f9f9;
    border: 1px dashed #dddddd;
}

.dd-empty {
    border: 1px dashed #dddddd;
    min-height: 26px;
    background-color: #f9f9f9;
    background-size: 60px 60px;
    background-position: 0 0, 30px 30px;
}

.dd-dummy {
    min-height: 20px;
    background-color: #fff;
}

.dd-dragel {
    position: absolute;
    pointer-events: none;
    z-index: 9999;
}

.dd-dragel>.dd-item .dd-handle {
    margin-top: 0;
}

.dd-dragel .dd-handle {
    -webkit-box-shadow: 2px 4px 6px 0 rgba(0, 0, 0, .1);
    box-shadow: 2px 4px 6px 0 rgba(0, 0, 0, .1);
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}

.dd-inverse .dd-handle {
    color: #ffffff;
    background: #999999;
}

.dd-inverse .dd-handle:hover {
    background: #aaaaaa;
}

.dd-inverse .dd-item>button:before {
    color: #ffffff;
}

.category-body .dropdown-handle>span {
    pointer-events: none;
}

.nav-category .dd-list .dd-handle span:before {
    display: none;
}

.collapse_btn {
    position: absolute;
    left: 6px;
    top: 0;
    font-size: 18px;
    line-height: 20px;
    height: 30px;
    background: transparent;
    z-index: 10;
}

.collapse_btn:before {
    content: '\f2f2';
    font-family: Material-Design-Iconic-Font;
    display: block;
}

.collapse_btn.collapsed:before {
    margin-left: 0;
    -webkit-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);
}

.nav-category .dd-list .dd-handle~.collapse_btn {
    left: 19px;
}

.prod_category_list {
    padding-bottom: 24px;
}

.nav>li>a {
    padding: 15px 24px 15px 26px;
}

.nav #prod_list_category_>a {
    padding-left: 26px;
}

.nav-category .dd-handle span {
    padding-left: 40px;
}

.nav-category .dd-list .dd-handle span {
    padding-left: 55px;
}

.nav-category .dd-list .dd-list .dd-handle span {
    padding-left: 65px;
}

.bg-gray {
    padding: 11px 16px 8px;
    background: #FAFAFA;
    border-radius: 4px;
}

/*----------------------*/

/*----------------------*/
.custom-tooltip.in {
    opacity: 1;
}

.custom-tooltip.right {
    margin-left: 4px;
    padding: 0;
}

.custom-tooltip .tooltip-inner {
    padding: 6px 8px;
    border-radius: 8px;
    background-color: #15181E;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    box-shadow: 0 14px 32px 0 rgba(75, 81, 91, 0.12),
        0 10px 14px 0 rgba(75, 81, 91, 0.06),
        0 0 0 1px rgba(75, 81, 91, 0.03),
        0 0 1px 0 rgba(75, 81, 91, 0.20);
}

/*----------------------*/

/*----------------------*/

#analytics-tooltip button {
    padding: 4px 12px;
    line-height: 24px;
    font-size: 14px;
    border-radius: 6px;
    transition: 0.1s ease-out;
}

.tooltip-close-button {
    color: #717680;
    background-color: transparent;
}

.tooltip-close-button:hover {
    background-color: #f8f9fb;
}

.tooltip-close-button:active {
    background-color: #e2e5e9;
}

.tooltip-go-button {
    color: #FFFFFF;
    background-color: #1A6DFF;
}

.tooltip-go-button:hover {
    background-color: #70a2FF;
}

.tooltip-go-button:active {
    background-color: #99bdFF;
}

/*----------------------*/