<!DOCTYPE html>
<html lang="ko">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link rel="stylesheet" href="../../../resources/css/common_css/header.css">
    <link rel="stylesheet" href="../../../resources/css/common_css/style.css">
</head>

<body class="min-h-screen">
    <div class="w-full px-4 pt-4 pb-10 sm:pt-0 sm:pb-6">
        <div class="grid max-w-4xl grid-cols-5 gap-3 mx-auto lg:grid-cols-10">
            <div class="text-center transition-transform md:hover:scale-105">
                <a href="https://www2.taling.me/ranking"></a>
                <div class="mx-auto aspect-1 w-[2.5rem] md:w-[3.5rem]"><img
                        src="https://img.taling.me/Content/Uploads/Icons/Rank_p.svg" alt="menu_icon"
                        class="w-[2.5rem] md:w-[3.5rem]" /></div></a>
                <div class="mt-2 text-xs font-medium break-keep md:text-sm ">실시간랭킹</div>
            </div>
            <div class="text-center transition-transform md:hover:scale-105"><a
                    href="https://www2.taling.me/search?classTypeCode=5">
                    <div class="mx-auto aspect-1 w-[2.5rem] md:w-[3.5rem]"><img
                            src="https://img.taling.me/Content/Uploads/Icons/VOD_p.svg" alt="menu_icon"
                            class="w-[2.5rem] md:w-[3.5rem]" /></div>
                </a>
                <div class="mt-2 text-xs font-medium break-keep md:text-sm ">VOD</div>
            </div>
            <div class="text-center transition-transform md:hover:scale-105"><a
                    href="https://www2.taling.me/talent/group/18">
                    <div class="mx-auto aspect-1 w-[2.5rem] md:w-[3.5rem]"><img
                            src="https://img.taling.me/Content/Uploads/Icons/NewClass_p.svg" alt="menu_icon"
                            class="w-[2.5rem] md:w-[3.5rem]" /></div>
                </a>
                <div class="mt-2 text-xs font-medium break-keep md:text-sm ">신규클래스</div>
            </div>
            <div class="text-center transition-transform md:hover:scale-105"><a
                    href="https://www2.taling.me/talent/group/8">
                    <div class="mx-auto aspect-1 w-[2.5rem] md:w-[3.5rem]"><img
                            src="https://img.taling.me/Content/Uploads/Icons/SaleClass_p.svg" alt="menu_icon"
                            class="w-[2.5rem] md:w-[3.5rem]" /></div>
                </a>
                <div class="mt-2 text-xs font-medium break-keep md:text-sm ">할인클래스</div>
            </div>
            <div class="text-center transition-transform md:hover:scale-105"><a
                    href="https://www2.taling.me/search?cateSub=235">
                    <div class="mx-auto aspect-1 w-[2.5rem] md:w-[3.5rem]"><img
                            src="https://img.taling.me/Content/Uploads/Icons/IdolDance_p.svg" alt="menu_icon"
                            class="w-[2.5rem] md:w-[3.5rem]" /></div>
                </a>
                <div class="mt-2 text-xs font-medium break-keep md:text-sm ">아이돌댄스</div>
            </div>
            <div class="text-center transition-transform md:hover:scale-105"><a
                    href="https://www2.taling.me/talent/group/9">
                    <div class="mx-auto aspect-1 w-[2.5rem] md:w-[3.5rem]"><img
                            src="https://img.taling.me/Content/Uploads/Icons/NJob_p.svg" alt="menu_icon"
                            class="w-[2.5rem] md:w-[3.5rem]" /></div>
                </a>
                <div class="mt-2 text-xs font-medium break-keep md:text-sm ">N잡러</div>
            </div>
            <div class="text-center transition-transform md:hover:scale-105"><a
                    href="https://www2.taling.me/search?cateSub=127">
                    <div class="mx-auto aspect-1 w-[2.5rem] md:w-[3.5rem]"><img
                            src="https://img.taling.me/Content/Uploads/Icons/Tarot_p.svg" alt="menu_icon"
                            class="w-[2.5rem] md:w-[3.5rem]" /></div>
                </a>
                <div class="mt-2 text-xs font-medium break-keep md:text-sm ">사주/타로</div>
            </div>
            <div class="text-center transition-transform md:hover:scale-105"><a
                    href="https://www2.taling.me/search?cateMain=30,31">
                    <div class="mx-auto aspect-1 w-[2.5rem] md:w-[3.5rem]"><img
                            src="https://img.taling.me/Content/Uploads/Icons/Makeup_p.svg" alt="menu_icon"
                            class="w-[2.5rem] md:w-[3.5rem]" /></div>
                </a>
                <div class="mt-2 text-xs font-medium break-keep md:text-sm ">헤메코</div>
            </div>
            <div class="text-center transition-transform md:hover:scale-105"><a
                    href="https://www2.taling.me/search?cateSub=84">
                    <div class="mx-auto aspect-1 w-[2.5rem] md:w-[3.5rem]"><img
                            src="https://img.taling.me/Content/Uploads/Icons/Cooking_p.svg" alt="menu_icon"
                            class="w-[2.5rem] md:w-[3.5rem]" /></div>
                </a>
                <div class="mt-2 text-xs font-medium break-keep md:text-sm ">쿠킹/베이킹</div>
            </div>
            <div class="text-center transition-transform md:hover:scale-105"><a
                    href="https://www2.taling.me/search?cateMain=50">
                    <div class="mx-auto aspect-1 w-[2.5rem] md:w-[3.5rem]"><img
                            src="https://img.taling.me/Content/Uploads/Icons/Language_p.svg" alt="menu_icon"
                            class="w-[2.5rem] md:w-[3.5rem]" /></div>
                </a>
                <div class="mt-2 text-xs font-medium break-keep md:text-sm ">외국어</div>
            </div>
        </div>
    </div>
</body>

</html>