<!DOCTYPE html>
<html lang="ko">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../resources/css/common_css/Style.css">
    <link rel="stylesheet" href="../../../resources/css/common_css/ErrorPage.css">
</head>

<body class="errorpage">
    <div class="errorpage-container">
        <div class="errorpage-wrapper">
            
            <div class="errorpage-image-wrapper">
                <img class="bx-error" src="../../../resources/upfile/common_img/bx-error.svg" />
                <h1 class="errorsign">
                    오류 
                    <span class="errorMessage">Error</span> 
                </h1>
            </div>

            <div class="errorpage-text-wrapper">
                <p class="errorcheck">
                    요청하신 페이지를 처리 중에 오류가 발생했습니다. 
                    <span class="break-on-small"> <br /> </span>
                    서비스 이용에 불편을 드려 죄송합니다. <br /> 
                    입력하신 내용이 정확한지 확인 후 다시 시도해 주시기 바랍니다.
                </p>
                <p class="we-have-encountered">
                We have encountered a system error while processing your request.
                <br />
                We apologize for the incovenlence. Please
                check input and try again
            </p>
            </div>

            <button class="mainpage" id="mainpage">메인페이지로 이동</button>
        </div>
    </div>
</body>

</html>