<!DOCTYPE html>
<html lang="ko">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <link rel="stylesheet" href="../../../resources/css/common_css/Style.css">
  <link rel="stylesheet" href="../../../resources/css/common_css/Footer.css">
</head>

<body class="footer"> 
 
 <!-- footer -->
 <div class="footer-container">

    <div class="footer-container-wrapper">
      <div class="footer-wrapperbox">
        <div class="footerbox">
          <div class="container">
            <div class="contents">
              <p class="name">mo-cozy</p>
              <a target="_blank" 
                    href="https://www.notion.so/talingme/2d3d41bfc10a4dd698d1f2255d474239">
                    공지사항</a>
            <a target="_blank" href="https://blog.naver.com/taling_me">이벤트</a>
            </div>

            <div class="contents">
              <p class="name"></p>
              <!-- 빈칸 -->
            </div>

            <div class="contents">
                <p class="name">서비스정책</p>
              <a target="_blank" 
                 href="https://talingrules.oopy.io/01248985-cd6f-4efa-89a3-a27298b810a6">이용약관</a>
            <a class="font-bold text-taling-gray-500 "
                target="_blank" 
                href="https://talingrules.oopy.io/e8cea072-2da7-4bb5-b4aa-79f89210d998">개인정보 처리방침</a>
            <a target="_blank"
                href="https://talingrules.oopy.io/1a24d566-e1db-4390-9eb3-3e446bee924e">환불규정</a>
            <a target="_blank"
                href="https://talingrules.oopy.io/910de887-a4b6-4758-944c-dcdc10094c8b">FAQ</a>
            </div>

              <div class="contents">
                <p class="name"></p>
                <!-- 빈칸 -->
              </div>
          </div>
        </div>
      </div>

      <div class="border"></div>

      <div class="containter02">
        <div class="introduce-wrapper">
        <p>상호 : (주)mo-cozy | 조장 : 임병준</p>
        <p class="introduce">주소 : 강남지원 1관 : 서울특별시 강남구 테헤란로 14길 6 남도빌딩 3F</p>
        <div>고객센터 : 
            <a class="underline" href="T: 1544-9970"> (T: 1544-9970 / F: 02-562-2378)</a>
        </div>
        <p class="introduce">
            (주)mo-cozy는 실제 서비스를 지원하지 않습니다. 상품정보 및 거래 등의 관한 의무와 책임을 지지 않습니다.</p>
        <ul class="list">
          <li class="imglist">
            <a href="https://www.facebook.com/zuck/?locale=ko_KR"
              target="_blank">
              <img src="./배움을 재밌게, 탈잉!_files/sns01.png" 
              alt="facebook"></a>
            </li>
          <li class="imglist">
            <a href="https://www.instagram.com/kevin/"
              target="_blank" rel="noopener noreferrer">
              <img src="./배움을 재밌게, 탈잉!_files/sns02.png" alt="instagram">
            </a>
        </li>
          <li class="imglist">
            <a href="https://www.youtube.com/@youtubekorea" target="_blank">
              <img src="./배움을 재밌게, 탈잉!_files/sns03.png" alt="youtube">
            </a>
        </li>
          <li class="imglist">
            <a href="https://m.naver.com/" target="_blank">
                <img src="./배움을 재밌게, 탈잉!_files/sns04.png" alt="naver">
            </a>
        </li>
        </ul>
        <p>Copyright ⓒ 2023 mo-cozy Inc. All rights reserved.</p>
      </p>
    </div>
    </div>
  </div>
</div>
</body>
</html>