<!DOCTYPE html>
<html lang="ko">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link rel="stylesheet" href="../../../resources/css/common_css/Style.css">
    <link rel="stylesheet" href="../../../resources/css/common_css/TopButton.css">
    <script type="text/javascript" async="" src="../../../resources/js/common_js/topButton.js"></script>
</head>

<body class="topbtn">
    <!-- 예시 -->
    <div class="one"></div>
    <div class="two"></div>
    <div class="three"></div>
    <div class="one"></div>
    <div class="two"></div>
    <div class="three"></div>
    <!---->

    <div class="quickbtn" id="quickbtn" data-tiara-layer="floating">
        <a href="_blank" class="btn_pageup"
            data-tiara-action-name="floating_top"
            data-tiara-layer="top">
            <img class="ico_pctop">TOP</img>
        </a>
    </div>
</body>

</html>