#shipping_tabs {
  margin: 24px 0 16px;
}

.xs-block-wrap {
  display: inline-block;
}

.flex {
  display: flex;
}

.justify-between {
  justify-content: space-between;
}

.items-center {
  align-items: center;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.template-wrap .panel-group .panel {
  border-radius: 8px;
}

.template-wrap .panel-heading,
.template-wrap .panel-body {
  padding: 12px 16px;
}

.template-wrap .form-horizontal .panel-body .form-group {
  margin-left: -16px;
  margin-right: -16px;
}

.template-wrap .panel-group a .panel-heading {
  border-radius: 8px;
}

.template-wrap .panel-group a:not(.collapsed) .panel-heading {
  border-radius: 8px 8px 0 0;
}

.template-wrap .panel-default .panel-heading h4 {
  font-size: 13px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 29px;
}

.template-wrap .panel-default .panel-heading h4 > div:first-child {
  line-height: 25px;
}

.template-wrap .panel-default .panel-heading .btn {
  margin-left: 5px;
}

.template-wrap .panel-group .panel-default .panel-heading,
.template-wrap .panel-group .panel-default.expanded .panel-heading {
  background: #fafafa;
}

.modal_deliv_config .deliv-option-box {
  background: #fafafa;
  padding: 16px;
}

.modal_deliv_config .fr-box.fr-basic .fr-wrapper {
  background: #fff;
  margin: 0;
}

.modal_deliv_config .fr-box.fr-basic .fr-element {
  padding-bottom: 10px;
  padding-top: 10px;
  border-left: 1px solid #e2e2e2;
  border-right: 1px solid #e2e2e2;
  border-bottom: 1px solid #e2e2e2;
}

.modal_deliv_config .chosen-container.chosen-container-multi {
  border-bottom: 1px solid #e0e0e0;
}

.chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
  top: 3px;
  right: 4px;
}

.chosen-container-multi .chosen-choices li.search-choice .search-choice-close:after {
  font: normal normal normal 14px/1 "im-icon";
  content: "\e910";
}

.form-control-static {
  font-size: 13px;
}

.panel-group {
  margin-bottom: 16px;
}

.template-wrap .panel-default a .panel-title .btn {
  display: none;
}

.template-wrap .panel-default a:not(.collapsed) .panel-title .btn {
  display: inline-block;
}

.place-wrap .list-form .holder + .holder {
  border-top: 1px solid #eee;
}

.card:not(:last-child) {
  margin-bottom: 5px;
}

.input-group .form-control {
  float: none;
}

.place-wrap .form-horizontal .control-label {
  padding-top: 2px;
}

.place-wrap .form-control-static {
  padding-top: 2px;
  padding-bottom: 0;
}

.shipping-template-box {
  display: flex;
  align-content: center;
}

.shipping-template-box select#shipping_template_code {
  max-width: 273px;
}

.shipping-template-box select#shipping_template_code:disabled {
  border-bottom-style: solid;
  border-bottom-color: #E0E0E0;
  background-color: #F3F3F3;
  color: #BDBDBD;
}

.default-template-group {
  align-self: center;
}

.shipping-template-box .default-template {
  position: relative !important;
  top: 10px !important;
  margin-left: 12px;
}

.fassto-wrap h2 {
  font-size: 22px;
}
.fassto-wrap h3 {
  font-size: 14px;
  line-height: 19px;
  font-weight: normal;
}
.fassto-wrap h4 {
  font-size: 13px;
  line-height: 18px;
}
.fassto-wrap .card.fss-style {
  background-color: #04996b;
}
.fassto-wrap .card.fss-style h1 {
  font-size: 24px;
  line-height: 29px;
  font-weight: 700;
}
.fassto-wrap .card.fss-style h3 {
  font-size: 15px;
  line-height: 1.467;
}
.fassto-wrap .card.fss-style h4 {
  font-size: 13px;
  line-height: 18px;
}
.fassto-wrap .card.fss-style .btn {
  padding: 0 47.5px;
  line-height: 40px;
}
.fassto-wrap .card.fss-style .btn + .btn {
  margin-left: 8px;
  background: transparent;
  color: #fff;
  border-color: #fff;
}
.fassto-wrap .card.fss-style .btn.btn-dark-light {
  background: rgba(255, 255, 255, 0.4);
  color: #fff;
  border-color: rgba(255, 255, 255, 0.05);
}
.fassto-wrap .card.fss-style > .card-body:first-child {
  padding: 40px 16px 0;
}
.fassto-wrap .card.fss-style > .card-body:last-child {
  overflow: hidden;
  padding: 0;
}
.fassto-wrap .card.fss-style > .card-body:last-child > img {
  display: block;
  width: 100%;
  max-width: none;
  margin: 0 auto;
}
.fassto-wrap ul.process {
  list-style: none;
  text-align: center;
  max-width: 421px;
  padding: 0 16px 0 43px;
  display: inline-block;
}
.fassto-wrap ul.process li {
  position: relative;
  text-align: left;
}
.fassto-wrap ul.process li:not(:last-child) {
  padding-bottom: 34px;
}
.fassto-wrap ul.process li:not(:last-child):before {
  content: "";
  position: absolute;
  width: 1px;
  height: 100%;
  left: -27px;
  top: 8px;
  background: #EEEEEE;
}
.fassto-wrap ul.process li h3 {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  margin: 0;
}
.fassto-wrap ul.process li h3:before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  left: -32px;
  top: 5px;
  background: #04996b;
}
.fassto-wrap ul.process li h5 {
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: #757575;
}
.fassto-wrap .card .card-body.xlarge-padding {
  padding: 60px 24px;
}
.fassto-wrap .process_table {
  table-layout: fixed;
}
.fassto-wrap .process_table .tabel-cell {
  width: 20%;
}
.fassto-wrap .process_wrap {
  width: 13%;
}
.fassto-wrap .process_wrap .line:before {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background: #ccc;
  position: absolute;
  top: 50%;
  margin-top: -26px;
}
.fassto-wrap .process_wrap .line:after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-left: 6px solid #ccc;
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -29.5px;
}
.fassto-wrap .table.table-bordered {
  margin-bottom: 12px;
}
.fassto-wrap .table.table-bordered > thead > tr > th,
.fassto-wrap .table.table-bordered > tbody > tr > td,
.fassto-wrap .table.table-bordered > tfoot > tr > td {
  padding: 8px;
  border-width: 0 1px 1px 0;
  border-style: solid;
  border-color: #ddd;
  text-align: center;
}
.fassto-wrap .toggle_menu_manual_wrap {
  line-height: 1.571;
}
.fassto-wrap .help-wrap {
  display: inline-block;
  max-width: 492px;
  background-color: #fafafa;
  border-radius: 8px;
  padding: 12px;
}
.fassto-wrap .help-wrap > ul {
  text-align: left;
}
.fassto-wrap .panel,
.fassto-wrap .panel + .panel {
  border: 1px solid #eee;
  padding: 0;
  margin-bottom: 10px;
}
.fassto-wrap .panel-group {
  margin: 0 auto 20px;
}
.fassto-wrap .panel-heading,
.fassto-wrap .panel-body {
  padding: 20px 24px;
}
.fassto-wrap .panel-default .panel-heading h4 {
  font-size: 13px;
  margin-right: 0;
}
.fassto-wrap .panel-default .panel-heading h4 > i {
  right: 26px;
}
.fassto-wrap .panel,
.fassto-wrap .panel-default .panel-heading,
.fassto-wrap .panel-default .panel-heading + .panel-collapse > .panel-body {
  border-color: #eee;
}
.fassto-wrap .panel-default .panel-heading + .panel-collapse.collapsing > .panel-body,
.fassto-wrap .panel-default .panel-heading + .panel-collapse.in > .panel-body {
  border-color: transparent;
}
.fassto-wrap .panel-default.expanded .icon-arrow-down:before {
  content: "\e607";
}

@media (min-width: 768px) {
  .modal_deliv_config .modal-dialog {
    width: 670px;
  }
}
@media (max-width: 767px) {
  .xs-block-wrap {
    display: block;
    margin: 12px 0 0;
  }

  .fassto-wrap .fassto-header {
    text-align: center;
  }
  .fassto-wrap .card.fss-style h1 {
    font-size: 22px;
  }
  .fassto-wrap .card.fss-style h3 {
    font-size: 15px;
  }
  .fassto-wrap .card.fss-style .btn {
    padding: 0 24px;
    font-size: 13px;
    line-height: 40px;
  }
  .fassto-wrap .card.fss-style > .card-body:last-child > img {
    width: auto;
    height: 200px;
    margin-left: 50%;
    transform: translateX(-50%);
  }
  .fassto-wrap .card .card-body.xlarge-padding {
    padding: 48px 24px;
  }
  .fassto-wrap .process_table {
    display: block !important;
  }
  .fassto-wrap .process_table .table-cell {
    display: block !important;
    margin: 0 auto;
    margin-bottom: 20px;
    width: 100%;
  }
  .fassto-wrap .process_table .table-cell .margin-top-xxxl {
    margin-top: 16px !important;
  }
  .fassto-wrap .process_wrap > .holder {
    height: 100px;
    width: 160px;
    margin: 0 auto;
  }
  .fassto-wrap .process_wrap .line:before {
    width: 1px;
    height: 100px;
    left: 50%;
    margin-left: -0.5px;
    top: 0;
    margin-top: 0;
  }
  .fassto-wrap .process_wrap .line:after {
    border-left: 6px solid transparent;
    border-top: 6px solid #ccc;
    border-right: 6px solid transparent;
    border-bottom: 0;
    top: auto;
    bottom: 0;
    margin-top: 0;
    left: 50%;
    margin-left: -6.5px;
  }
  .fassto-wrap .panel-heading,
.fassto-wrap .panel-body {
    padding: 16px 20px;
  }
  .fassto-wrap .panel-default .panel-heading h4 > i {
    right: 20px;
  }
}

/*# sourceMappingURL=shipping.css.map */
