.admin{
    menubar-hoverableheader-fixedmenubar-pin
}

.admin .dashbord{
    dashboard_loaderse-pre-con
}

.admin .pageloader{
    page-loader-spinner
}

.admin .bounce1{
    double-bounce1
}

.admin .bounce2{
    double-bounce2
}

.admin .progress{
    progress
}

.admin .progressbar{
    progress-bar width:70%;
}

.admin .base{

}

.admin .topheader{
    top_header
}

.admin .headerbar{

}

.admin .leftbar{
    headerbar-left
}

.admin .menutoggle{
    btn btn-icon-toggle menubar-toggle" data-toggle="menubar"
}

.admin .btnicon{
    width="16" height="16" viewBox="0 0 18 16" fill="none" xmlns="_blank"
}

.admin .sitename{
    data-toggle="tooltip" data-placement="bottom" 
}

.admin .rightbar{
    headerbar-right
}

.admin .headernav{
header-navheader-nav-options
}

.admin .claybutton{
aclay-buttonwhite__exit-btn
}

.admin .claybutton2{
aclay-button__upgrade-btn
}

.admin .maindashboard{
dashboard_main
}

.admin .alertBox{
alert__wrap
}

.admin .alertjoin{
alert__banner-case2first:tw-mt-[24px]tw-pr-[31px]md:tw-pr-[62px]tw-flex-wrap
}

.admin .middleitems{
md:tw-pr-[62px]
}

.admin .centeritems{
tw-flextw-items-center
}

.admin .bannerimg{

}

.admin .lefttext{
tw-text-left
}

.admin .btnclose{
btn-closebtn-closetw-absolutetw-right-0md:tw-right-[16px]tw-pr-[5px]
}

.admin .btwnone{
buttontypebuttononclickSADMIN_MENU_ALERT.closeBannerAlert(&#39;join&#39;)
}

.admin .btl{
btw-order-nonebg-transparentborder-none
}

.admin .clearfix{
    area_wrap
}

.admin .section-body{
section-bodyfloat_l
}

.admin .dashboard-section{
dashboard_section_header
}

.admin .clear-img{
width24height24viewBox002424fillnone
}

.admin .dashboard-card{
tw-relative
}

.admin .fold{
fold
}

.admin .foldimage{
svgwidth16height16viewBox001616fillnone
}

.admin .tooltip{
fold_tooltip
}

.admin .toolimage{
svgwidth12height6viewBox00126fillnone
}

.admin .dashboard-tutorial{
dashboard_tutorial_dashboard_tutorial
}

.admin .container{
dashboard_tutorial_container
}

.admin .tutorial-card{
dashboard_tutorial_card
}

.admin .checkbar{
check_bar_wrap
}

.admin .check-background{
check_bar_background
}

.admin .cbr{
check_bar_check_barstylewidth:0%;border-radius:3px;
}

.admin .checkbar-text{
check_bar_text_check_bar_text0/4개완료
}

.admin .tlist{
tt-list
}

.admin .clist{
check-list_check_list
}

.admin .check-icon{
check_icon
}

.admin .dashboard-tutorial-card{
dashboard_tutorial_card
}

.admin .checkbar{
check_bar_wrap
}

.admin .check-background{
check_bar_background
}

.admin .cbr{
check_bar_check_barstylewidth:0%;border-radius:3px;
}

.admin .checkbar-text{
check_bar_text_check_bar_text0/4개완료
}

.admin .tlist{
tt-list
}
    
.admin .clist{
check-list_check_list
}
    
.admin .check-icon{
check_icon
}

.admin .tutorial-growth{
dashboard_tutorial_card_tutorial_growth
}

.admin .checkbar{
check_bar_wrap
}
    
.admin .check-background{
check_bar_background
}
    
.admin .cbr{
check_bar_check_barstylewidth:0%; border-radius:3px;
}
    
.admin .checkbar-text{
check_bar_text_check_bar_text0/4개완료
}
    
.admin .tlist{
tt-list
}
        
.admin .clist{
check-list_check_list
}
        
.admin .check-icon{
check_icon
}

.admin .todolist{
rowtodo-listtoday
}

.admin .titem{
ma-item
}

.admin .card{
card
}

.admin .cardhead{
card_headline-bottom
}

.admin .headerbadge{
text-defat-brightheader-badgebadge-dangerclay-badge0
}

.admin .cardbody{
card-bodyborder-toptoday-table
}

.admin .tlist{
tt-list
}

.admin .inline-blocked{
inline-blocked
}

.admin .text-danger{
text-danger0
}

.admin .dashboard-section{
dashboard_section_headerdashboard_stats_header
}

.admin .dimg{
svgwidth24height24viewBox002424fillnone
}

.admin .dashboard-banner{
dashboard_stats_banner_container
}

.admin .stats-banner{
dashboard_stats_banner
}

.admin .leftbanner{
dashboard_stats_banner_left
}

.admin .rightbanner{
dashboard_stats_banner_right
}

.admin .rbanner{
imgsrc_blankheight100%alt서드파티통계배너
}

.admin .bbutton{
buttontypebuttonstats_banner_hidemo_hide
}

.admin .rimg{
svgwidth14height14viewBox001414fillnone
}

.admin .hideimg{
    buttontypebuttonstats_banner_hidepc_hide
}


svgwidth10height10viewBox001414fillnonexmlns_blank

flex-boxdashboard_stats

ma-itemcol-md-6col-sm-12col-xs-12stat-visitor-list

card

card_head

ahref_blankdashboard_card_anchor

card-bodyborder-top

float_rtext-12text-rightforce-paddingno-padding

stylemargin-right:15px;

ifafa-circlestylecolor:rgb(179,227,255);/i>

ifafa-circlestylecolor:rgb(25,109,255);/i>방문자

canvasidstats_chartwidth328height164stylewidth:328px;height:164px;

chartjs_tooltip_chartjs_tooltip
styleopacity:0;left:123px;top:180.417px;font-family:&quot;
HelveticaNeue&quot;Helvetica,Arial,sans-serif;
font-size:14px;font-style:normal;position:absolute;background:rgb(255,255,255);

chartjs-tooltip-section

chartjs-tooltip-key
stylebackground-color:rgb(25,109,255);

chartjs-tooltip-value8

chartjs-tooltip-section

chartjs-tooltip-key
stylebackground-color:rgb(179,227,255);

chartjs-tooltip-value31

ma-itemcol-md-6col-sm-12col-xs-12stat-analytics-list

ahref_blankdashboard_card_anchor

card-bodyno-paddingborder-top

tabletableno-marginsummary-table

thtext-13text-centeropacity-50일자/th>

ahrefjavascript:;text-grayrolebutton
data-togglepopoverdata-placementautotitle
data-htmltrue
data-content&lt;tablestyle&#39;width:100%;line-height:1.4;
vertical-align:top&#39;&#39;tabletable-normaltable-sm-paddingno-margin&#39;&gt;&lt;tr&gt;&lt;thstyle&#39;width:25%&#39;&#39;
no-border-top&#39;&gt;집계시점&lt;/th&gt;&lt;td&#39;
no-border-top&#39;&gt;주문일기준결제완료된주문&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;th&gt;차감기준&lt;/th&gt;&lt;td&gt;취소,반품완료시결제금액에서환불금액만큼차감&lt;
/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;th&gt;환불적용&lt;/th&gt;&lt;td&gt;취소,반품/환불시주문일자기준으로처리&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;th&gt;할인금액&lt;/th&gt;&lt;td&gt;
적립금,쿠폰등은매출금액에서제외.실결제금액에만반영.&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;th&gt;부분취소&lt;/th&gt;&lt;td&gt;부분취소주문은정확히집계되지않음(개선예정).&lt;/td&gt;&lt;
/tr&gt;&lt;/table&gt;data-original-title매출액계산기준

ibtmbt-question-circle/i>

thtext-13text-centeropacity-50방문자/th>

tdtext-left2024-05-16/td>

tdtext-right0/td>

tdtext-right0원/td>

tdtext-leftno-border최근7일합계/td>

tdtext-rightno-border0건/td>

dashboard_section_header

svgwidth24height25viewBox002425fillnonexmlns_blank


flex-boxdashboard_section_rowdashboard_contents_row

ma-itemcol-md-6col-sm-6col-xs-12answers-listshopping-review

cardflex-card

card_head

ahref_blankdashboard_card_anchor

card-bodyborder-topno-data-card-body

listlist-preview

litile

no-data-container

ma-itemcol-md-6col-sm-6col-xs-12answers-listshopping-qna

cardflex-card

card_head

ahref_blankdashboard_card_anchor

card-bodyborder-topno-data-card-body

listlist-preview

litile

no-data-container

ma-itemcol-md-6col-sm-6col-xs-12contents-list!tw-mb-0

cardflex-card

card_head

ahref_blankdashboard_card_anchor

card-bodyborder-topno-data-card-body

listlist-preview

litile

no-data-container

styleheight:40px;

dashboard_section_header

svgwidth24height25viewBox002425fillnonexmlns_blank

flex-boxdashboard_imweb_contents_topdashboard_section_row

ma-itemcol-md-6col-sm-6col-xs-12contents-myqna

cardflex-card

card_head

ahref_blanktarget_blankdashboard_card_anchor

card-bodyborder-topno-data-card-bodyqna-no-data-card-body

listlist-preview

litile

no-data-container

ma-itemcol-md-6col-sm-6col-xs-12notice-list

card

card_head

ahref_blankdashboard_card_anchor

card-bodyborder-top

listlist-preview

litilestylemin-height:auto;

atile-contentnotice-itemhref_blanktarget_blank

tile-textno-padding

tile-iconno-paddingtext-12text-gray-brightstylemin-width:80px;2024-04-30

litilestylemin-height:auto;

atile-contentnotice-itemhref_blanktarget_blank

tile-textno-padding

tile-iconno-paddingtext-12text-gray-brightstylemin-width:80px;

litilestylemin-height:auto;

atile-contentnotice-itemhref_blanktarget_blank

tile-textno-padding

tile-iconno-paddingtext-12text-gray-brightstylemin-width:80px;

litilestylemin-height:auto;

atile-contentnotice-itemhref_blanktarget_blank

tile-textno-padding

tile-iconno-paddingtext-12text-gray-brightstylemin-width:80px;

litilestylemin-height:auto;

atile-contentnotice-itemhref_blanktarget_blank

tile-textno-padding4월업데이트소식

tile-iconno-paddingtext-12text-gray-brightstylemin-width:80px;2024-04-24

litilestylemin-height:auto;

atile-contentnotice-itemhref_blank

tile-textno-padding

tile-iconno-paddingtext-12text-gray-brightstylemin-width:80px;


litilestylemin-height:auto;

atile-contentnotice-itemhref_blanktarget_blank

tile-textno-padding

tile-iconno-paddingtext-12text-gray-brightstylemin-width:80px;

litilestylemin-height:auto;

atile-contentnotice-itemhref_blank

tile-textno-padding

tile-iconno-paddingtext-12text-gray-brightstylemin-width:80px;

litilestylemin-height:auto;

atile-contentnotice-itemhref_blank

tile-textno-padding

tile-iconno-paddingtext-12text-gray-brightstylemin-width:80px;

litilestylemin-height:auto;

atile-contentnotice-itemhref_blank

tile-textno-padding

tile-iconno-paddingtext-12text-gray-brightstylemin-width:80px;

flex-boxdashboard_section_row

ma-itemcol-md-6col-sm-6col-xs-12guide-list

card

card_head

ahref_blankdashboard_card_anchor

card-bodyborder-top

listlist-preview

litilestylemin-height:auto;

atile-contentguide-itemhref_blank

tile-textno-padding빠른디자인시작가이드

tile-iconno-paddingtext-12text-gray-brightstylemin-width:80px;

litilestylemin-height:auto;

atile-contentguide-itemhref_blank

tile-textno-padding디자인모드란?

tile-iconno-paddingtext-12text-gray-brightstylemin-width:80px;

dashboard_rightright-menu-fixedfloat_l

cardcard-blackdashboard-user-card

card-bodytext-center

ahrefjavascript:dropdown-toggleblockdata-toggledropdowntabindex-1aria-expandedfalse

margin-bottom-xlidmixpanel_dashboard_profile

imgborder-roundsrc_blankwidth64height64

text-bold

use_nameholder관리자

text-13opacity-50

dropdown-menuanimation-dockdashboard-profilerolemenu

atext-ellipsis

imgborder-roundsrc_blankwidth45height45

liider

ahrefjavascript:onclickADMIN.openProfile();내사이트목록보기

atext-dangerupgrade-btnhref_blank

liider

ahref_blankexit-btn나가기

card-bodycard-summaryno-padding-top

tabledfl-widthtext-12margin-bottom-xl

table-cellvertical-middleopacity-50sub_tit사용버전

table-cellvertical-middle

btnbtn-smbtn-dark-brightbtn-roundedbtn-xs-paddingstyletext-transform:capitalize;free

table-cellvertical-middletext-rightsub_option

atext-dangeridmixpanel_dashboard_upgrade_righthref_blank업그레이드


tabledfl-widthtext-12margin-bottom-xl

table-cellvertical-middleopacity-50sub_titPG

table-cellvertical-middle미가입

table-cellvertical-middletext-rightsub_option

aopacity-50idmixpanel_dashboard_pghref_blank설정

card-bodycard-summary

tabledfl-widthtext-12margin-bottom-xl

table-cellvertical-middleopacity-50sub_titAPP

table-cellvertical-middle

ahover-underlinehref_blankaltiOS신청iOS미사용/

ahover-underlinehref_blankaltAndroid신청Android미사용

table-cellvertical-middletext-rightsub_option

atext-dangerhrefjavascript:chkFreeVersion(&#39;/admin/app/android&#39;)설정

tabledfl-widthtext-12margin-bottom-xl

table-cellvertical-middleopacity-50sub_tit도메인

table-cellvertical-middlestyleword-break:break-all;기본도메인사용중

table-cellvertical-middletext-rightsub_option

atext-dangerhref_blank설정

tabledfl-widthtext-12margin-bottom-xl

table-cellvertical-middleopacity-50sub_titSSL

table-cellvertical-middle사용(기본도메인자동적용)

table-cellvertical-middletext-rightsub_option

atext-dangerhref_blank연장

tabledfl-widthtext-12margin-bottom-xl

table-cellvertical-middleopacity-50sub_tit입금확인

ahrefjavascript:rolebuttondata-triggerfocustabindex0
data-togglepopoverdata-placementtopdata-htmltruetitle
data-content무통장입금주문을자동으로확인하여입금완료처리해주는자동입금확인서비스뱅크다의사용여부및남은기간을표시합니다.
data-original-title자동입금확인(뱅크다)

ibtmbt-question-circle

table-cellvertical-top자동입금확인

table-cellvertical-toptext-rightsub_option

atext-dangerhref_blank설정

consting_banner_wrapcardbg-transparent

consting_bannerowl-themeowl-carouselowl-loaded

owl-stage-outer

owl-stagestyletransform:translate3d(-1500px,0px,0px);transition:all0.25sease0s;width:3600px;

owl-itemclonedstylewidth:300px;margin-right:0px;

itemdata-index6idmixpanel_banner_kakaosync

id dashboard_banner_wrap_kakaosyncdashboard_banner_wrapmb-0kakaosynccard
stylebackground:url(&quot;../common/img/dashboard_banner_kakaosync.png?v2&quot;)0%0%/100%no-repeatrgb(255,218,1);color:rgb(255,255,255);

ahref_blanktext-14text-defat

card-body

owl-itemclonedstylewidth:300px;margin-right:0px;

itemdata-index7idmixpanel_banner_tosspayments

dashboard_banner_wrapmb-0cardstylebackground-image:url(&quot;_blank);
background-position:initial;background-repeat:no-repeat;background-attachment:initial;
background-origin:initial;background-clip:initial;
background-color:rgb(41,98,255);color:rgb(255,255,255);background-size:100%

ahref_blanktarget_selftext-14

card-bodystyledisplay:flex;flex-direction:column;justify-content:center;align-items:center;

img src_blankstylewidth:98px;margin-bottom:5px;margin-top:4px;

stylefont-size:16px;font-weight:700;line-height:135%;

owl-itemstylewidth:300px;margin-right:0px;

itemtw-relativeidmixpanel_banner_crema

dashboard_banner_wrapmb-0cardstylebackground-image:url(&quot;https://vendor-cdn.imweb.me/images/CREMA_BO_BANNER.png&quot;);background-repeat:no-repeat;background-attachment:initial;background-origin:initial;background-clip:initial;background-color:rgb(0,0,0);background-position:right0pxbottom12px;color:rgba(255,255,255,0.82);background-size:auto86px;

ahref_blanktext-14

card-bodystyledisplay:flex;flex-direction:column;justify-content:start;align-items:flex-start;gap:2px;padding:22px16px;height:102px;

stylefont-size:16px;font-weight:700;line-height:140%;letter-spacing:-0.8px;margin-bottom:0px;

stylefont-size:12px;line-height:150%;

imgsrc_blankwidth80tw-absolutetw-right-[16px]tw-top-[20px]!tw-w-[80px]

itemdata-index4idmixpanel_banner_danal

dashboard_banner_wrapmb-0cardstylebackground-image:url(&quot;_blank);
													background-position:initial;background-repeat:no-repeat;background-attachment:initial;
													background-origin:initial;background-clip:initial;background-color:rgb(41,98,255);
													color:rgb(255,255,255);background-size:100%;

ahref_blanktarget_selftext-14

card-bodystyledisplay:flex;flex-direction:row;justify-content:space-between;align-items:center;

pstylefont-size:16px;font-weight:700;line-height:135%;margin-bottom:0px;

imgsrc_blankstylewidth:80px;object-fit:contain;object-position:rightcenter;

owl-itemstylewidth:300px;margin-right:0px;

itemdata-index5idmixpanel_banner_fassto

dashboard_banner_wrapmb-0cardstylebackground:url(&quot;_blank)0%0%/100%no-repeatrgb(0,156,103);color:rgb(255,255,255);

ahref_blanktext-14

card-bodytext-13text-boldstyleletter-spacing:-1px;padding-top:14px;

opacity-75파스토이용시

stylefont-size:14px;

owl-itemstylewidth:300px;margin-right:0px;

itemdata-index6idmixpanel_banner_kakaosync

iddashboard_banner_wrap_kakaosyncdashboard_banner_wrapmb-0kakaosynccardstylebackground:url(&quot;../common/img/dashboard_banner_kakaosync.png?v2&quot;)0%0%/100%no-repeatrgb(255,218,1);
color:rgb(255,255,255);

ahref_blanktext-14text-defat

card-body

owl-itemclonedstylewidth:300px;margin-right:0px;

itemtw-relativedata-index0idmixpanel_banner_crema

dashboard_banner_wrapmb-0cardstylebackground-image:url(&quot;_blank);background-repeat:no-repeat;background-attachment:initial;background-origin:initial;background-clip:initial;background-color:rgb(0,0,0);background-position:right0pxbottom12px;color:rgba(255,255,255,0.82);background-size:auto86px;

ahref_blanktext-14

card-bodystyledisplay:flex;flex-direction:column;justify-content:start;align-items:flex-start;gap:2px;padding:22px16px;height:102px;

stylefont-size:16px;font-weight:700;line-height:140%;letter-spacing:-0.8px;margin-bottom:0px;

stylefont-size:12px;line-height:150%;

owl-itemclonedstylewidth:300px;margin-right:0px;

itemtw-relativedata-index1idmixpanel_banner_vreview

dashboard_banner_wrapmb-0cardstylebackground:rgb(10,55,189);

ahref_blanktext-14

card-bodystyledisplay:flex;flex-direction:column;justify-content:space-between;align-items:flex-start;

stylefont-size:15px;font-weight:700;line-height:200%;margin-bottom:0px;

stylecolor:rgb(255,255,255);

stylefont-size:13px;color:white;letter-spacing:-0.7px;

imgsrc_blankwidth80tw-absolutetw-right-[16px]tw-top-[20px]!tw-w-[80px]

owl-controls

owl-nav

owl-prevprev

owl-nextnext

owl-dots

consting_banner_nav

consting_banner_navWrap

current4

total8

cardcard-sm-padding

card-head

afloat_rtext-13opacity-50force-paddingno-padding-yhref_blank관리

card-bodyno-padding-top

admin_img_wrapclearfix

float_l

ainline-blockedhref_blankdata-toggletooltipdata-placementtop

imgborder-roundsrc_blankwidth35height35

update_memo_list


cardcard-sm-padding

formidadd_memo

inputtypehiddennamewrite_token
valueuFQiz1n2lUfUZi54r2wd6zh3JRliheWkiqynM5XyJZ0QkYfFQvmwazwBghvw9Zz5EYSMZGGLvbBC4AKq0fBhyK/hhO7LkcSqcEBWhd378aSwvv6mlwNuXdnIZXLLOwYP

inputtypehiddennamewrite_token_keyvalue9634

card-bodycard-memo

tabledholderfl-widthstylemargin-bottom:5px;

table-cellvertical-middlememo-thumb

imgborder-roundsrc_blankwidth35height35

table-cellvertical-middle

idmemo_writertext-13text-bold관리자

memo-body

textareanamememoidmemoform-controlmargin-bottom-xlresize-verticalrows1
placeholder관리자들과공유할메모를남겨주세요data-autosize-ontrue
styleoverflow:hidden;overflow-wrap:break-word;resize:none;height:38px;

ahrefjavascript:
btnbtn-xsbtn-roundedbtn-xs-paddingbtn-defat-bright
onclickDASHBOARD.addMemo($(&#39;#add_memo&#39))저장

buttontypebuttonhidden-lghidden-mdtoggle-btndata-dismissmenubar

sr-onlyTogglenavigation

imgsrc_blank

idmenubaranimate

nanohas-scrollbarstyleheight:787px;

nano-contenttabindex0styleright:-17px;

menubar-scroll-panelstylepadding-bottom:1px;

region-wrapfl-width

ahrefjavascript:holderglobal_icon_menudropdown-toggledata-toggledropdown
aria-expandedtrue

icon-wrap

imgsrc_blankregion-icon

brand-holder

title_controls왓이님의웹사이트

icon

svgxmlns_blankwidth16height16viewBox001616fillnone

dropdown-menudropdown-menu-newglobal_settinganimation-dockmenu-card-styling

liholder

tabled

table-cellvertical-middlewidth-1

imgwidth30height30
src./qjfhdnaos51106.imweb.me_files/flag_kr_circle.png

table-cellvertical-middledomainstyleline-height:1.3;

inline-blocked

domain_name왓이님의웹사이트

data-original-title일반방문자의접속이제한됩니다.글로벌버전으로업그레이드해주세요
data-toggletooltipbadgedata-placementtop
stylemargin-left:5px;vertical-align:top;미결제

text-gray-brighttext-12qjfhdnaos51106.imweb.me

liadd-unit

ahrefjavascript:;
onclickSITE_MANAGE.openAddUnit(&#39;S20240516cc656761618e8&#39;)
text-secondaryaddunitstyledisplay:flex;
svgstylemargin-right:8px;mlns_blankwidth16height16
viewBox001616fillnone

idmain-menugui-controls

lidata-prevent-menu-clicktrue

ahrefjavascript:;_gnb_notification_buttongnb_notification_button

gui-icon

idb-bell/i>

titletitle_controls알림

_badgebadge_newNew

gui-icon

idb-wand/i>

titletitle_controls디자인모드

aexternal-urlhref_blank

gui-icon

idb-preview

titletitle_controls사이트바로가기

lispacer

litop-menu

ahrefjavascript:;shop-extend
onclickDASHBOARD.openSiteManagementDialog(this);
data-original-title쇼핑·예약기능설정data-toggletooltipdata-placementright
data-triggerhover
data-template&lt;&quot;tooltipcustom-tooltip&quot;&gt;&lt;&quot;tooltip-inner&quot;&gt;&lt;/&gt;&lt;/&gt;

svgxmlns_blankwidth16height16viewBox001616fillnone

liactiveexpanded

ahref_blankactive

gui-icon

idb-dashboard

titletitle_controls대시보드

ligui-folderdata-titlemember

ahref_blanksidebar-nav-menuonclickreturnfalse;

gui-icon

idb-user

titletitle_controls사용자관리

badge_icon1

titletitle_controls사용자목록
badge_icon1

titletitle_controls메시지보내기

titletitle_controls운영진

titletitle_controls자동메일

titletitle_controls친구톡보내기

titletitle_controlsSMS·알림톡

gui-icon

idb-crm/i>

titletitle_controls

ligui-folderdata-titleshopping

ahref_blanksidebar-nav-menuonclickreturnfalse;

gui-icon

idb-shopping-bag

titletitle_controls쇼핑

badge_betaBeta

ligui-folderanimatedanimated-hidden

ahref_blanksidebar-nav-menuonclickreturnfalse;

gui-icon

idb-calendar/i>

titletitle_controls예약

ligui-folder

ahref_blankonclickreturnfalse;

idb-pencil/i>

ahref_blank

titletitle_controls게시물

ahref_blanksidebar-nav-menuonclickreturnfalse;

gui-icon

idb-megaphone/i>

titletitle_controls광고캠페인관리

badge_newNew

ligui-folder

idb-mobile

idb-status-up

idb-rocket

ahref_blanksidebar-nav-menuonclickreturnfalse;

idb-settings

lispacer

litop-menu

aexternal-urlhref_blank

idb-comments/i>

aexternal-urlhref_blankonclickreturnfalse;

idb-graduation-cap/i>

aexternal-urlhref_blank

idb-telescope/i>

aexternal-urlhref_blank

nano-pane

nano-sliderstyleheight:752px;top:35px;display:block;

fold_areaanimate

table-cellvertical-middle

ahref_blanklogo_icon_menu

a_tooltip_btnside_bar_btnhrefjavascript:void(0)rolebuttonidtoggle_button

fold_buttonleftdata-triggerhover

svgxmlns_blankwidth16height16viewBox001616fillnone

fold_buttonrightdata-toggletooltipdata-placementrightdata-triggerhover

hover

svgxmlns_blankwidth16height16viewBox001616fillnone

_notify-modal-provider

modalidcocoaModalroledialog

modal-dialog

modal-content

modalsubmodalroledialogidcocoaSubModalstylez-index:17001;

iframenamehidden_frameidhidden_frame
styleposition:absolute;left:-9999px;width:1px;height:1px;top:-9999px;src_blank/iframe>

iddevice-breakpoints

device-xsvisible-xsdata-breakpointxs

device-smvisible-smdata-breakpointsm

device-mdvisible-mddata-breakpointmd

device-lgvisible-lgdata-breakpointlg

idch-pluginnotranslatestylez-index:1000

idch-plugin-entry

styledisplay:block;

idch-shadow-root-wrapper

Launcherstyled__LauncherButtonWrapper-ch-front__sc-1kx6op4-0chEByq

buttontypebutton

ChatButtonContainer__Container-ch-front__sc-qgvnh9-0cgHhTF

a11y-hiddenimweb상담버튼

SenderButtonView__Wrapper-ch-front__sc-1aik3pi-0eFJnEc

src_blankSenderButtonView__SenderAvatarBg-ch-front__sc-1aik3pi-1mVAFX

data-testidimg-custom-btnImageCustomButtonView__Wrapper-ch-front__sc-1s91m5o-0jVTAai

src_blankImageCustomButtonView__CustomImageBg-ch-front__sc-1s91m5o-1dRQruU

IconButtonView__Background-ch-front__sc-vtu014-0inQZZV

svgwidth36height36color#ffffff

MinimizeButtonView__Wrapper-ch-front__sc-1idijj-0giSWOn

svgxmlns_blankwidth36height36fillnoneviewBox002424
foundation[objectObject]Iconstyled__Icon-sc-1iqwu2g-0pJGcx
data-testidbezier-react-iconcolortxt-black-darkermargintop0
marginright0marginbottom0marginleft0aria-hiddentrue

rolestatusaria-label,thereareunreadmessages
Badge__BaseUnreadBadge-ch-front__sc-1k3c5b2-2fOtwdyBadge__PcUnreadBadge-ch-front__sc-1k3c5b2-3jrJXOx

idch-plugin-scriptstyledisplay:none;ch-messenger-hidden

iframeidch-plugin-script-iframetitleChannelchat
styleposition:relative;height:100%;width:100%;border:none!;src_blank